* {
    padding: 0em;
    margin: 0em;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.btn-estacion {
    background-image: url("imagen-fondo.jpg");
    color: white;
    border-radius: 8px;
    text-decoration: none;
    margin-bottom: 0.5em;
    padding: 1em 1em;
    width: 520px;
    text-shadow: 0 0 5px rgba(23,36,50,.5);
}
#list-estacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contenedor h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff;
}
#contenedor {
    
    background-color: indigo;
    width: 100%;
    margin-bottom: 10px;
}

.derecha{
        display: flex;
    flex-direction: row-reverse;

}

.derecha i{
    color: red;
}

.izquierda i{
    color: red;
}

.izquierda{
    display: flex;
}