<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Landing</title>

	<link rel="stylesheet" type="text/css" href="{{URL_WEB}}/static/estilos.css">
</head>
<body>
	
<div class="contenedor">
	<div class="contenedor2">
					<h1>Bienvenido a App estacion</h1>
					<h2>En la app se podra ver el panel con las estaciones  y dando un click a una te llevara a los detalles de esa estacion</h2>


	<nav>
		<a href="{{URL_WEB}}/panel">Acceder</a>
	
	</nav>



	</div>




</div>


</body>
</html>